n8n-tools/tool-consultar-agendamentos.json
{
  "name": "ABO / Ferramenta: Consultar Agendamentos do Paciente",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [340, 300],
      "id": "trigger-agendamentos",
      "name": "Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM abo.obter_agendamentos_paciente($1::varchar, $2::varchar, 5);",
        "options": {
          "queryReplacement": "={{ $json.patient_phone || $json.telefone_paciente }},={{ $json.status || null }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [580, 300],
      "id": "query-agendamentos",
      "name": "Buscar Agendamentos",
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst agendamentos = items.filter(i => i.json.id_agendamento);\n\nif (agendamentos.length === 0) {\n  return [{ json: { resultado: 'Nenhum agendamento futuro encontrado para este paciente.' } }];\n}\n\nlet resultado = 'Próximos agendamentos:\\n';\nfor (const a of agendamentos) {\n  const d = a.json;\n  const date = new Date(d.data_consulta).toLocaleDateString('pt-BR');\n  resultado += `\\n📋 ID: ${d.id_agendamento}\\n`;\n  resultado += `   📅 ${date} às ${d.hora_consulta.substring(0,5)}\\n`;\n  resultado += `   👨‍⚕️ Dr(a). ${d.nome_dentista} (${d.especialidade_dentista || 'Clínica Geral'})\\n`;\n  if (d.nome_procedimento) resultado += `   🦷 ${d.nome_procedimento}\\n`;\n  resultado += `   Status: ${d.status}\\n`;\n}\n\nreturn [{ json: { resultado } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 300],
      "id": "format-agendamentos",
      "name": "Formatar Resultado"
    }
  ],
  "connections": {
    "Trigger": { "main": [[{ "node": "Buscar Agendamentos", "type": "main", "index": 0 }]] },
    "Buscar Agendamentos": { "main": [[{ "node": "Formatar Resultado", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true }
}
