n8n-tools/tool-resumo-financeiro.json
{
  "name": "ABO / Ferramenta: Resumo Financeiro do Paciente",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [340, 300],
      "id": "trigger-financeiro",
      "name": "Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM abo.obter_resumo_financeiro_paciente($1::varchar);",
        "options": {
          "queryReplacement": "={{ $json.patient_phone || $json.telefone || $json.phone }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [580, 300],
      "id": "query-financeiro",
      "name": "Buscar Financeiro",
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\n\nlet resultado = '💰 Resumo Financeiro:\\n';\nresultado += `  Total cobrado: R$ ${parseFloat(result.total_cobrado || 0).toFixed(2)}\\n`;\nresultado += `  Total pago: R$ ${parseFloat(result.total_pago || 0).toFixed(2)}\\n`;\nresultado += `  Pendente: R$ ${parseFloat(result.total_pendente || 0).toFixed(2)}\\n`;\n\nif (parseFloat(result.total_atrasado) > 0) {\n  resultado += `  ⚠️ Atrasado: R$ ${parseFloat(result.total_atrasado).toFixed(2)}\\n`;\n}\n\nconst proximos = result.proximos_vencimentos;\nif (proximos && Array.isArray(proximos) && proximos.length > 0) {\n  resultado += '\\n📅 Próximos vencimentos:\\n';\n  for (const p of proximos) {\n    resultado += `  • R$ ${parseFloat(p.valor).toFixed(2)} - ${new Date(p.vencimento).toLocaleDateString('pt-BR')} - ${p.descricao || ''}\\n`;\n  }\n}\n\nreturn [{ json: { resultado } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 300],
      "id": "format-financeiro",
      "name": "Formatar Resultado"
    }
  ],
  "connections": {
    "Trigger": { "main": [[{ "node": "Buscar Financeiro", "type": "main", "index": 0 }]] },
    "Buscar Financeiro": { "main": [[{ "node": "Formatar Resultado", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": true }
}
