n8n/WhatsApp _ ABO Bahia - Assistente Consultório v2.json
{
  "name": "WhatsApp / ABO Bahia - Assistente Consultório v2",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2",
              "name": "sender_phone",
              "value": "={{ ( $json.body.data.key.remoteJid.endsWith('@lid') ? $json.body.data.key.remoteJidAlt.split('@')[0] : $json.body.data.key.remoteJid.split('@')[0] ) }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "sender_name",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "message_timestamp",
              "value": "={{ $json.body.date_time }}",
              "type": "string"
            },
            {
              "id": "4924d945-dcea-4ba3-af5b-ae04ad088198",
              "name": "message_type",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "5a442f90-1d00-44cd-8063-0e25b7eb91c8",
              "name": "message_text",
              "value": "={{ $json.body.data.message.conversation || ($json.body.data.message.extendedTextMessage ? $json.body.data.message.extendedTextMessage.text : '') || '' }}",
              "type": "string"
            },
            {
              "id": "de9f30d3-a9db-4beb-9acc-34adf91fe84a",
              "name": "message_reaction_text",
              "value": "={{ $json.body.data.message.reactionMessage.text }}",
              "type": "string"
            },
            {
              "id": "3d5ec4dc-ebc1-4994-9209-d5675d1b7401",
              "name": "message_image_caption",
              "value": "={{ $json.body.data.message.imageMessage.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        7488,
        832
      ],
      "id": "82be9690-e641-40a5-9c27-994269db5b89",
      "name": "Extrair Dados da Mensagem"
    },
    {
      "parameters": {
        "jsCode": "// Validar dados da mensagem\nconst senderPhone = $input.first().json.sender_phone;\nconst messageText = $input.first().json.message_text;\nconst senderName = $input.first().json.sender_name;\n\n// Verificar se os campos essenciais existem\nif (!senderPhone || !messageText) {\n  throw new Error('Dados essenciais da mensagem estão faltando: sender_phone ou message_text');\n}\n\nconst trimmedText = messageText.trim();\nconst lowerText = trimmedText.toLowerCase();\n\n// Detectar comando de reiniciar conversa\nconst resetCommands = ['#reiniciar', '#reset', '#limpar', 'reiniciar conversa', 'limpar conversa', 'nova conversa', 'recomeçar conversa', 'recomecar conversa', \n'começar denovo', 'comecar denovo'];\nconst isResetCommand = resetCommands.some(cmd => lowerText === cmd || lowerText.startsWith(cmd));\n\n// Sanitizar dados\nconst sanitizedData = {\n  sender_phone: senderPhone.trim(),\n  sender_name: senderName ? senderName.trim() : 'Usuário WhatsApp',\n  message_text: trimmedText,\n  message_type: $input.first().json.message_type || 'conversation',\n  message_timestamp: $input.first().json.message_timestamp || new Date().toISOString(),\n  is_reset_command: isResetCommand\n};\n\nreturn [{ json: sanitizedData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8928,
        832
      ],
      "id": "87750c24-a0d2-4392-a09c-11e444ce4224",
      "name": "Validar Dados da Mensagem"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{ $json.message_text }}"
            },
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "encoding_format",
              "value": "float"
            }
          ]
        },
        "options": {}
      },
      "id": "0b404bd1-61a5-48c7-938a-3191ea3b98ef",
      "name": "Gerar Embedding da Mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        9552,
        848
      ],
      "credentials": {
        "openaiApi": {
          "id": "9G3P8b4cLbfFdbcm",
          "name": "NEIA OpenAi"
        },
        "httpBearerAuth": {
          "id": "cGKI9g7OSPfCCooY",
          "name": "ABO OpenAI"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "embedding",
              "value": "={{ $json.data[0].embedding }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        9776,
        848
      ],
      "id": "ee66c50f-7889-4e74-85cf-becefd65ab06",
      "name": "Extrair Embedding"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, titulo, conteudo, categoria, metadados, (1 - (embedding <=> $1::vector)) as similaridade \nFROM abo.documentos \nWHERE (1 - (embedding <=> $1::vector)) > 0.4 \nORDER BY embedding <=> $1::vector LIMIT 3;",
        "options": {
          "queryReplacement": "={{ '['+ $json.embedding + ']'}}]'"
        }
      },
      "id": "aebab89e-13f0-4727-904e-f86c087129db",
      "name": "RAG - Busca Conhecimento ABO",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        9984,
        848
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "66c1e19b-70ba-4ece-8a9c-c6ad6819a091",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        7168,
        832
      ],
      "id": "5eb252a8-8dad-4237-be09-b79ec0b621b0",
      "name": "Webhook",
      "webhookId": "66c1e19b-70ba-4ece-8a9c-c6ad6819a091"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Se não houver itens\nif (!items || !Array.isArray(items) || items.length === 0) {\n  return [\n    {\n      json: {\n        documentos_encontrados: 0,\n        rag_context: \"Nenhum documento relevante foi encontrado na base de conhecimento.\"\n      }\n    }\n  ];\n}\n\n// Filtra apenas itens que realmente têm conteúdo válido\nconst documentosValidos = items.filter(item =>\n  item?.json?.titulo || item?.json?.conteudo\n);\n\n// Se nenhum documento válido existir\nif (documentosValidos.length === 0) {\n  return [\n    {\n      json: {\n        documentos_encontrados: 0,\n        rag_context: \"Nenhum documento relevante foi encontrado na base de conhecimento.\"\n      }\n    }\n  ];\n}\n\n// Monta o contexto\nconst rag_context = documentosValidos\n  .map((item, index) => {\n    const title = item.json.titulo ?? \"Sem título\";\n    const content = item.json.conteudo ?? \"Sem conteúdo disponível\";\n    const category = item.json.categoria ?? \"Não informada\";\n\n    const similarity =\n      typeof item.json.similaridade === \"number\"\n        ? (item.json.similaridade * 100).toFixed(1)\n        : \"N/A\";\n\n    return `📌 DOCUMENTO ${index + 1}\nTítulo: ${title}\nCategoria: ${category}\nSimilaridade: ${similarity}%\n\n${content}`;\n  })\n  .join('\\n\\n-----------------------------\\n\\n');\n\nreturn [\n  {\n    json: {\n      documentos_encontrados: documentosValidos.length,\n      rag_context\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10208,
        848
      ],
      "id": "fea6580f-605b-4de1-b3d9-10616dff66c7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é a Estela, assistente virtual completa do consultório odontológico da ABO-BA (Associação Brasileira de Odontologia - Seção Bahia). Você é educada, profissional, acolhedora e eficiente. Responda sempre em português brasileiro.\n\n══════════════════════════════════════\n🏥 INFORMAÇÕES DO CONSULTÓRIO\n══════════════════════════════════════\n- Nome: ABO-BA - Associação Brasileira de Odontologia - Seção Bahia\n- Endereço: Rua Altino Serbeto de Barros, 138 - Pituba, Salvador - BA, CEP 41830-492\n- Telefone: (71) 2203-4067 | WhatsApp: (71) 98132-8046\n- Email: contato@abo-ba.org.br\n- CNPJ: 15.187.719/0001-50\n- Horário: Seg-Sex 08:00-18:00 | Sáb 08:00-12:00 | Dom/Feriados: Fechado\n\n══════════════════════════════════════\n🛠️ FERRAMENTAS DISPONÍVEIS\n══════════════════════════════════════\nVocê tem acesso a ferramentas para gerenciar o consultório:\n\n1. **Buscar Paciente** - Busca dados do paciente pelo telefone\n   → Use quando precisar identificar o paciente ou ver seu histórico\n   → Parâmetros: { patient_phone: 'telefone' }\n\n2. **Buscar Horários Disponíveis** - Lista horários livres de dentistas\n   → Use quando o paciente quiser agendar e precisar ver disponibilidade\n   → Parâmetros: { date: 'YYYY-MM-DD', dentist_id: numero_opcional, specialty: 'especialidade_opcional' }\n\n3. **Agendar Consulta** - Cria um novo agendamento\n   → Use SOMENTE após confirmar todos os dados com o paciente\n   → Parâmetros: { patient_phone: 'tel', patient_name: 'nome', dentist_id: numero, procedure_id: numero_opcional, date: 'YYYY-MM-DD', time: 'HH:MM', notes: 'obs_opcional' }\n\n4. **Cancelar Consulta** - Cancela um agendamento existente\n   → Parâmetros: { appointment_id: numero, patient_phone: 'tel', reason: 'motivo_opcional' }\n\n5. **Consultar Agendamentos** - Lista agendamentos futuros do paciente\n   → Parâmetros: { patient_phone: 'tel' }\n\n6. **Listar Dentistas/Procedimentos** - Mostra profissionais ou procedimentos\n   → Parâmetros: { type: 'dentistas' ou 'procedimentos', specialty: 'opcional', category: 'opcional' }\n\n7. **Resumo Financeiro** - Extrato financeiro do paciente\n   → Parâmetros: { patient_phone: 'tel' }\n\n8. **Reiniciar Conversa** - Limpa todo o histórico e contexto da conversa\n   → Use quando o paciente pedir para reiniciar, limpar ou começar uma nova conversa\n   → Parâmetros: { patient_phone: 'telefone' }\n\n══════════════════════════════════════\n📋 FLUXO DE AGENDAMENTO\n══════════════════════════════════════\nSiga este fluxo ao agendar consultas:\n1. Identifique o paciente (use a ferramenta Buscar Paciente com o telefone do WhatsApp)\n2. Pergunte a especialidade/procedimento desejado\n3. Pergunte a data de preferência\n4. Use Buscar Horários Disponíveis para mostrar opções\n5. Confirme TODOS os dados: nome, data, horário, dentista, procedimento\n6. Só então use Agendar Consulta\n7. Informe o ID do agendamento para futuras referências\n\n══════════════════════════════════════\n🦷 ESPECIALIDADES DISPONÍVEIS\n══════════════════════════════════════\n- Clínica Geral (avaliação, restaurações, limpeza)\n- Endodontia (tratamento de canal)\n- Periodontia (gengivas)\n- Cirurgia Oral (extrações, implantes)\n- Prótese Dentária (coroas, pontes, dentaduras)\n- Ortodontia (aparelhos)\n- Implantodontia\n- Odontopediatria (crianças)\n- Estética Dental (clareamento, facetas)\n- Estomatologia\n\n══════════════════════════════════════\n💰 FORMAS DE PAGAMENTO\n══════════════════════════════════════\n- PIX | Cartão de Crédito (até 12x) | Cartão de Débito | Dinheiro | Boleto\n- Convênios odontológicos aceitos (verificar disponibilidade)\n\n══════════════════════════════════════\n🚨 PROTOCOLOS ESPECIAIS\n══════════════════════════════════════\n\n**URGÊNCIA/EMERGÊNCIA:**\nSe o paciente relatar dor intensa, trauma dental, sangramento ou inchaço:\n→ Oriente cuidados imediatos básicos\n→ Direcione para contato urgente: (71) 2203-4067\n→ Tente encaixar na agenda do dia\n\n**ESCALAÇÃO PARA HUMANO:**\nDirecione para atendente humano quando:\n→ Paciente insistir em falar com pessoa\n→ Reclamações ou insatisfação\n→ Questões financeiras complexas (negociação de dívida)\n→ Assuntos que você não consiga resolver\n→ Emergências médicas\n\n**CONFIRMAÇÃO DE CONSULTA:**\nSe paciente responder 'SIM' ou confirmar presença:\n→ Agradeça e confirme os dados do agendamento\nSe responder 'NÃO' ou quiser cancelar:\n→ Pergunte se deseja reagendar\n→ Se sim, ofereça novos horários\n→ Se não, cancele com a ferramenta\n\n══════════════════════════════════════\n📝 REGRAS DE RESPOSTA\n══════════════════════════════════════\n1. Respostas breves e diretas para WhatsApp (máximo 4-5 linhas por mensagem)\n2. Use emojis com moderação para melhorar legibilidade\n3. Sempre confirme dados antes de executar ações (agendar, cancelar)\n4. NUNCA invente informações médicas - quando não souber, direcione ao dentista\n5. Mantenha sigilo sobre dados de outros pacientes\n6. Se não encontrar o paciente no sistema, trate como novo paciente\n7. Inclua informações de contato quando apropriado\n8. Se a pergunta estiver fora do escopo odontológico, direcione educadamente\n9. Use as ferramentas proativamente - quando um paciente perguntar sobre consulta, já busque o cadastro dele\n10. Não seja repetitiva (por exemplo, vc não precisa ficar se apresentando em toda mensagem)\n11. Mensagens de áudio são automaticamente transcritas para texto. Se o tipo da mensagem for audioMessage, você pode mencionar brevemente que entendeu o áudio do paciente.\n12. O telefone do paciente no WhatsApp é: {{ $('Validar Dados da Mensagem').first().json.sender_phone }}\n\nCONTEXTO DA BASE DE CONHECIMENTO:\n{{ $json.rag_context }}\n\nMENSAGEM DO USUÁRIO:\nPerfil WhatsApp: {{ $('Validar Dados da Mensagem').first().json.sender_name }}\nTelefone WhatsApp: {{ $('Validar Dados da Mensagem').first().json.sender_phone }}\nTipo de mensagem: {{ $('Validar Dados da Mensagem').first().json.message_type }}\nTexto enviado: {{ $('Validar Dados da Mensagem').first().json.message_text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        10496,
        848
      ],
      "id": "c364417e-ca33-4671-9e16-70c1bc94baae",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        10336,
        1088
      ],
      "id": "efaddca3-85c5-4357-9d58-6b441a53d88d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9G3P8b4cLbfFdbcm",
          "name": "NEIA OpenAi"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Validar Dados da Mensagem').first().json.sender_phone }}",
        "tableName": "abo.n8n_chat_histories",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        10480,
        1168
      ],
      "id": "9c5bb040-5f90-420d-908c-fa2a5a0f5628",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        10720,
        1136
      ],
      "id": "fa12a582-8f36-4876-8895-668b58e446de",
      "name": "Think"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        10592,
        1104
      ],
      "id": "c69836b4-83e4-471a-987d-7d45a55253c9",
      "name": "Date & Time"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        10832,
        1232
      ],
      "id": "440124b1-e76c-4905-a3c4-21238f07f6a4",
      "name": "Calculator"
    },
    {
      "parameters": {
        "name": "buscar_paciente",
        "description": "Busca dados do paciente pelo número de telefone. Retorna nome, alergias, condições médicas, convênio, histórico de consultas e tratamentos ativos. Use quando precisar identificar o paciente ou ver informações dele. Parâmetros: patient_phone (string, obrigatório - número de telefone do paciente).",
        "workflowId": {
          "__rl": true,
          "value": "={{'qP7AmtAMWSJq2NuowOxCi'}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        10960,
        1200
      ],
      "id": "b5054466-65e8-449b-9b7d-8385fb3c2e4b",
      "name": "Buscar Paciente"
    },
    {
      "parameters": {
        "name": "buscar_horarios_disponiveis",
        "description": "Busca horários disponíveis de dentistas para uma data específica. Pode filtrar por dentista (dentist_id) ou especialidade. Parâmetros: date (string, obrigatório - formato YYYY-MM-DD), dentist_id (number, opcional), specialty (string, opcional - ex: endodontia, ortodontia).",
        "workflowId": {
          "__rl": true,
          "value": "={{'UgkezWSTlblPiMvGEjhRJ'}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        11056,
        1104
      ],
      "id": "452c524e-a4d5-4df5-959f-f93397e1c2a1",
      "name": "Buscar Horários"
    },
    {
      "parameters": {
        "name": "agendar_consulta",
        "description": "Cria um novo agendamento de consulta odontológica. IMPORTANTE: só use após confirmar TODOS os dados com o paciente. Parâmetros: patient_phone (string, obrigatório), patient_name (string, obrigatório), dentist_id (number, obrigatório), procedure_id (number, opcional), date (string, obrigatório - YYYY-MM-DD), time (string, obrigatório - HH:MM), notes (string, opcional).",
        "workflowId": {
          "__rl": true,
          "value": "={{'6z60DDRnhv_0k90bvvEAY'}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        11168,
        1184
      ],
      "id": "bb063347-5758-46fb-b3b9-ee7ff982f01d",
      "name": "Agendar Consulta"
    },
    {
      "parameters": {
        "name": "cancelar_consulta",
        "description": "Cancela um agendamento existente. Precisa do ID do agendamento e do telefone do paciente para validação. Parâmetros: appointment_id (number, obrigatório), patient_phone (string, obrigatório), reason (string, opcional - motivo do cancelamento).",
        "workflowId": {
          "__rl": true,
          "value": "={{'BW61kcoin51HUb3gD_-p2'}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        11280,
        1104
      ],
      "id": "acff9578-3fab-4a10-9a70-f99abca8d259",
      "name": "Cancelar Consulta"
    },
    {
      "parameters": {
        "name": "consultar_agendamentos",
        "description": "Lista os próximos agendamentos futuros de um paciente. Retorna data, horário, dentista, procedimento e status. Parâmetros: patient_phone (string, obrigatório), status (string, opcional - filtrar por: agendado, confirmado, concluido).",
        "workflowId": {
          "__rl": true,
          "value": "={{'98P80bb9GyKUueDO6CTu1'}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        11392,
        1184
      ],
      "id": "43e3cc2e-8039-4a4f-8350-bdf23a411718",
      "name": "Consultar Agendamentos"
    },
    {
      "parameters": {
        "name": "listar_dentistas_procedimentos",
        "description": "Lista dentistas disponíveis ou procedimentos odontológicos oferecidos. Para dentistas, retorna nome, CRO e especialidades. Para procedimentos, retorna nome, categoria, duração e preço. Parâmetros: type (string, obrigatório - 'dentistas' ou 'procedimentos'), specialty (string, opcional - filtro de especialidade), category (string, opcional - filtro de categoria ex: preventivo, restaurador, cirurgico, endodontia, ortodontia, estetica, protese, implantodontia).",
        "workflowId": {
          "__rl": true,
          "value": "={{'Avz5jBevAoikbkoDADkRY'}}",
          "mode": "id",
          "cachedResultUrl": "/workflow/=%7B%7B'Avz5jBevAoikbkoDADkRY'%7D%7D"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        11504,
        1104
      ],
      "id": "f04e5cdc-0db2-4a57-91e2-465bb550b734",
      "name": "Listar Dentistas/Procedimentos"
    },
    {
      "parameters": {
        "name": "resumo_financeiro",
        "description": "Retorna o resumo financeiro do paciente: total cobrado, pago, pendente, atrasado e próximos vencimentos. Parâmetros: patient_phone (string, obrigatório).",
        "workflowId": {
          "__rl": true,
          "value": "={{'gQaJfKayq-yF1nyHn9IfF'}}",
          "mode": "id",
          "cachedResultUrl": "/workflow/=%7B%7B'gQaJfKayq-yF1nyHn9IfF'%7D%7D"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        11616,
        1184
      ],
      "id": "0596fe45-d1d9-40d5-80c8-f02c26b48c32",
      "name": "Resumo Financeiro"
    },
    {
      "parameters": {
        "name": "reiniciar_conversa",
        "description": "Reinicia a conversa do paciente, limpando todo o histórico e contexto anterior. Use quando o paciente pedir para reiniciar, limpar ou começar uma nova conversa. Parâmetros: patient_phone (string, obrigatório - número de telefone do paciente).",
        "workflowId": {
          "__rl": true,
          "value": "={{'lx9-IOQgHW7cEn_EyV-nO'}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "autoMapInputData",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        11728,
        1184
      ],
      "id": "c4ac3065-2186-4605-8728-f8042369293f",
      "name": "Reiniciar Conversa"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "reset-condition",
              "leftValue": "={{ $json.is_reset_command }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9248,
        832
      ],
      "id": "4b9a1f3c-5124-4a68-9593-3e46a24a7442",
      "name": "É comando reiniciar?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM abo.reiniciar_conversa($1::varchar);",
        "options": {
          "queryReplacement": "={{ $('Validar Dados da Mensagem').first().json.sender_phone }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        9552,
        576
      ],
      "id": "136e495d-b78b-4ae9-8232-1684c2b59d7b",
      "name": "Executar Reset",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst senderName = $('Validar Dados da Mensagem').first().json.sender_name;\n\nconst output = `✨ Conversa reiniciada com sucesso!\n\nOlá, ${senderName}! Seu histórico de conversa foi limpo e estou pronta para um novo atendimento.\nComo posso ajudar você hoje? 😊`;\n\nreturn [{ json: { output } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9776,
        576
      ],
      "id": "b704cc75-58dd-422d-8009-be23ae4700d2",
      "name": "Mensagem de Reset"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "abo",
          "mode": "list",
          "cachedResultName": "abo"
        },
        "table": {
          "__rl": true,
          "value": "conversas",
          "mode": "list",
          "cachedResultName": "conversas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Validar Dados da Mensagem').first().json.sender_phone }}",
            "nome": "={{ $('Validar Dados da Mensagem').first().json.sender_name }}",
            "mensagem": "={{ $('Validar Dados da Mensagem').first().json.message_text }}",
            "resposta_ia": "={{ $('AI Agent').first().json.output }}",
            "contexto_rag": "={{ $('Code in JavaScript').first().json }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resposta_ia",
              "displayName": "resposta_ia",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contexto_rag",
              "displayName": "contexto_rag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "criado_em",
              "displayName": "criado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "atualizado_em",
              "displayName": "atualizado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        10896,
        688
      ],
      "id": "71c36cf0-99ba-4f17-82cc-226cf1c47e22",
      "name": "Salvar Conversa no BD",
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Bahia Tecnologia Ltda",
        "remoteJid": "={{ $('Validar Dados da Mensagem').first().json.sender_phone }}",
        "messageText": "={{ $json.item }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        11808,
        864
      ],
      "id": "c5f263f1-c1db-4318-b7bd-683fbb253073",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "JMQ37vVKU8xZgKjy",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Recebe o texto de entrada\nconst texto = $input.first().json.output;\n\n// Divide o texto apenas pela sequência de barra invertida dupla (\\n\\n)\nconst itens = texto.split(/\\n/);\n\n// Retorna cada item como um objeto separado, filtrando itens vazios\nreturn itens\n  .filter(item => item.trim() !== \"\")\n  .map(item => ({ item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11104,
        848
      ],
      "id": "9d761437-5ee6-4d81-9fe8-2b706afc3db5",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        11488,
        848
      ],
      "id": "10544113-191a-49d1-8855-bd021920e8cc",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "audio-condition",
              "leftValue": "={{ $json.message_type }}",
              "rightValue": "audioMessage",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        7728,
        832
      ],
      "id": "dfd4a144-d5e1-4f9a-842f-be44b75f57b0",
      "name": "É áudio?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').first().json.body.server_url + '/chat/getBase64FromMediaMessage/' + encodeURIComponent($('Webhook').first().json.body.instance) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Webhook').first().json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: { key: $('Webhook').first().json.body.data.key } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        7968,
        440
      ],
      "id": "335125ff-b578-4e84-bd4f-0cd945f730ff",
      "name": "Baixar Áudio"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet base64Data = response.base64;\nconst extractedData = $('Extrair Dados da Mensagem').first().json;\n\nif (!base64Data) {\n  throw new Error('Não foi possível baixar o áudio. O campo base64 está vazio.');\n}\n\n// Remove data URI prefix if present (e.g., 'data:audio/ogg;base64,...')\nif (base64Data.includes(',')) {\n  base64Data = base64Data.split(',')[1];\n}\n\nreturn [{\n  json: extractedData,\n  binary: {\n    audio: {\n      data: base64Data,\n      mimeType: response.mimetype || 'audio/ogg; codecs=opus',\n      fileName: 'audio.ogg'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8208,
        440
      ],
      "id": "057d2ae5-08a8-42a9-be21-c2a8f1f46b16",
      "name": "Preparar Áudio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audio"
            },
            {
              "parameterType": "formData",
              "name": "model",
              "value": "whisper-1"
            },
            {
              "parameterType": "formData",
              "name": "language",
              "value": "pt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        8448,
        440
      ],
      "id": "1f7df57e-83bf-4af2-a3f9-472ed02d6144",
      "name": "Transcrever Áudio",
      "credentials": {
        "httpBearerAuth": {
          "id": "cGKI9g7OSPfCCooY",
          "name": "ABO OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const transcription = $input.first().json.text;\nconst extractedData = $('Extrair Dados da Mensagem').first().json;\n\nreturn [{\n  json: {\n    ...extractedData,\n    message_text: (transcription && transcription.trim())\n      ? transcription.trim()\n      : '[Áudio recebido mas não foi possível transcrever. Por favor, envie em texto.]'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8688,
        440
      ],
      "id": "d93e452b-82bd-4769-85de-d2cc110df02c",
      "name": "Definir Texto Transcrito"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.bahiati.cloud",
            "user-agent": "axios/1.13.2",
            "content-length": "1480",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.bahiati.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "0559ca9a5ebb",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "Bahia Tecnologia Ltda",
            "data": {
              "key": {
                "remoteJid": "553496620569@s.whatsapp.net",
                "remoteJidAlt": "553496620569@s.whatsapp.net",
                "fromMe": false,
                "id": "3BF14C88F54D8D216F43",
                "participant": "",
                "addressingMode": "lid"
              },
              "pushName": "Dalí Freire",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "quero agendar uma consulta",
                "messageContextInfo": {
                  "threadId": [],
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 207,
                      "1": 107,
                      "2": 167,
                      "3": 106,
                      "4": 126,
                      "5": 144,
                      "6": 242,
                      "7": 113,
                      "8": 148,
                      "9": 250
                    },
                    "senderTimestamp": {
                      "low": 1770116076,
                      "high": 0,
                      "unsigned": true
                    },
                    "recipientKeyHash": {
                      "0": 224,
                      "1": 133,
                      "2": 166,
                      "3": 87,
                      "4": 96,
                      "5": 159,
                      "6": 24,
                      "7": 39,
                      "8": 17,
                      "9": 139
                    },
                    "recipientTimestamp": {
                      "low": 1770582804,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 24,
                    "1": 68,
                    "2": 105,
                    "3": 98,
                    "4": 193,
                    "5": 37,
                    "6": 29,
                    "7": 81,
                    "8": 40,
                    "9": 19,
                    "10": 195,
                    "11": 208,
                    "12": 238,
                    "13": 135,
                    "14": 1,
                    "15": 121,
                    "16": 128,
                    "17": 226,
                    "18": 76,
                    "19": 62,
                    "20": 186,
                    "21": 28,
                    "22": 159,
                    "23": 46,
                    "24": 153,
                    "25": 78,
                    "26": 209,
                    "27": 171,
                    "28": 231,
                    "29": 82,
                    "30": 96,
                    "31": 12
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1772630641,
              "instanceId": "c9aff788-608b-4cea-801e-d3dcd53676af",
              "source": "unknown"
            },
            "destination": "https://n8n.bahiati.cloud/webhook/66c1e19b-70ba-4ece-8a9c-c6ad6819a091",
            "date_time": "2026-03-04T10:24:01.605Z",
            "sender": "557183803720@s.whatsapp.net",
            "server_url": "https://evolution.bahiati.cloud",
            "apikey": "8994AF317C9A-4406-81A3-AA973BF65EA2"
          },
          "webhookUrl": "https://n8n.bahiati.cloud/webhook/66c1e19b-70ba-4ece-8a9c-c6ad6819a091",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extrair Dados da Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados da Mensagem": {
      "main": [
        [
          {
            "node": "É áudio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Dados da Mensagem": {
      "main": [
        [
          {
            "node": "É comando reiniciar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É comando reiniciar?": {
      "main": [
        [
          {
            "node": "Executar Reset",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gerar Embedding da Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Reset": {
      "main": [
        [
          {
            "node": "Mensagem de Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de Reset": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Embedding da Mensagem": {
      "main": [
        [
          {
            "node": "Extrair Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Embedding": {
      "main": [
        [
          {
            "node": "RAG - Busca Conhecimento ABO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG - Busca Conhecimento ABO": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Paciente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Horários": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Consulta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar Consulta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Agendamentos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Listar Dentistas/Procedimentos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Resumo Financeiro": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reiniciar Conversa": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar Conversa no BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É áudio?": {
      "main": [
        [
          {
            "node": "Baixar Áudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validar Dados da Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Áudio": {
      "main": [
        [
          {
            "node": "Preparar Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Áudio": {
      "main": [
        [
          {
            "node": "Transcrever Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever Áudio": {
      "main": [
        [
          {
            "node": "Definir Texto Transcrito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir Texto Transcrito": {
      "main": [
        [
          {
            "node": "Validar Dados da Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e2d16499-4f98-45c1-8769-825c9d5974e5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d07a57d7c2add559a13f166055a90b89bb4e767a13639a3a9399707bf04755c3"
  },
  "id": "68VqxzJuQsLXKbXPS4aZq",
  "tags": []
}