n8n/WhatsApp _ ABO Bahia - Assistente Consultório v2.json
{
  "name": "WhatsApp / ABO Bahia - Assistente Consultório v2",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2",
              "name": "sender_phone",
              "value": "={{ ( $json.body.data.key.remoteJid.endsWith('@lid') ? $json.body.data.key.remoteJidAlt.split('@')[0] : $json.body.data.key.remoteJid.split('@')[0] ) }}",
              "type": "string"
            },
            {
              "id": "3",
              "name": "sender_name",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "message_timestamp",
              "value": "={{ $json.body.date_time }}",
              "type": "string"
            },
            {
              "id": "4924d945-dcea-4ba3-af5b-ae04ad088198",
              "name": "message_type",
              "value": "={{ $json.body.data.messageType }}",
              "type": "string"
            },
            {
              "id": "5a442f90-1d00-44cd-8063-0e25b7eb91c8",
              "name": "message_text",
              "value": "={{ $json.body.data.message.conversation || ($json.body.data.message.extendedTextMessage ? $json.body.data.message.extendedTextMessage.text : '') || '' }}",
              "type": "string"
            },
            {
              "id": "de9f30d3-a9db-4beb-9acc-34adf91fe84a",
              "name": "message_reaction_text",
              "value": "={{ $json.body.data.message.reactionMessage.text }}",
              "type": "string"
            },
            {
              "id": "3d5ec4dc-ebc1-4994-9209-d5675d1b7401",
              "name": "message_image_caption",
              "value": "={{ $json.body.data.message.imageMessage.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8864,
        1312
      ],
      "id": "49007fed-f3cb-41d3-92e3-aca870053c00",
      "name": "Extrair Dados da Mensagem"
    },
    {
      "parameters": {
        "jsCode": "// Validar dados da mensagem\nconst senderPhone = $input.first().json.sender_phone;\nconst messageText = $input.first().json.message_text;\nconst senderName = $input.first().json.sender_name;\n\n// Verificar se os campos essenciais existem\nif (!senderPhone || !messageText) {\n  throw new Error('Dados essenciais da mensagem estão faltando: sender_phone ou message_text');\n}\n\nconst trimmedText = messageText.trim();\nconst lowerText = trimmedText.toLowerCase();\n\n// Detectar comando de reiniciar conversa\nconst resetCommands = ['#reiniciar', '#reset', '#limpar', 'reiniciar conversa', 'limpar conversa', 'nova conversa', 'recomeçar conversa', 'recomecar conversa', \n'começar denovo', 'comecar denovo'];\nconst isResetCommand = resetCommands.some(cmd => lowerText === cmd || lowerText.startsWith(cmd));\n\n// Sanitizar dados\nconst sanitizedData = {\n  sender_phone: senderPhone.trim(),\n  sender_name: senderName ? senderName.trim() : 'Usuário WhatsApp',\n  message_text: trimmedText,\n  message_type: $input.first().json.message_type || 'conversation',\n  message_timestamp: $input.first().json.message_timestamp || new Date().toISOString(),\n  is_reset_command: isResetCommand\n};\n\nreturn [{ json: sanitizedData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10304,
        1312
      ],
      "id": "86593665-3942-4db0-a4a4-f2d7aeff828c",
      "name": "Validar Dados da Mensagem"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "input",
              "value": "={{ $json.message_text }}"
            },
            {
              "name": "model",
              "value": "text-embedding-3-small"
            },
            {
              "name": "encoding_format",
              "value": "float"
            }
          ]
        },
        "options": {}
      },
      "id": "a21e87d5-0fa1-4ff7-9119-f3f4db051895",
      "name": "Gerar Embedding da Mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        10928,
        1328
      ],
      "credentials": {
        "openaiApi": {
          "id": "9G3P8b4cLbfFdbcm",
          "name": "NEIA OpenAi"
        },
        "httpBearerAuth": {
          "id": "cGKI9g7OSPfCCooY",
          "name": "ABO OpenAI"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "embedding",
              "value": "={{ $json.data[0].embedding }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        11152,
        1328
      ],
      "id": "8955b4d7-9182-4a4e-a861-5529caf1888d",
      "name": "Extrair Embedding"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, titulo, conteudo, categoria, metadados, (1 - (embedding <=> $1::vector)) as similaridade \nFROM abo.documentos \nWHERE (1 - (embedding <=> $1::vector)) > 0.4 \nORDER BY embedding <=> $1::vector LIMIT 3;",
        "options": {
          "queryReplacement": "={{ '['+ $json.embedding + ']'}}]'"
        }
      },
      "id": "01ce2259-0e8b-4588-84b3-13cca9d1f6da",
      "name": "RAG - Busca Conhecimento ABO",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        11360,
        1328
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "66c1e19b-70ba-4ece-8a9c-c6ad6819a091",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        8544,
        1312
      ],
      "id": "1bbcd437-635a-4fbf-beb7-09905d24a12d",
      "name": "Webhook",
      "webhookId": "66c1e19b-70ba-4ece-8a9c-c6ad6819a091"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Se não houver itens\nif (!items || !Array.isArray(items) || items.length === 0) {\n  return [\n    {\n      json: {\n        documentos_encontrados: 0,\n        rag_context: \"Nenhum documento relevante foi encontrado na base de conhecimento.\"\n      }\n    }\n  ];\n}\n\n// Filtra apenas itens que realmente têm conteúdo válido\nconst documentosValidos = items.filter(item =>\n  item?.json?.titulo || item?.json?.conteudo\n);\n\n// Se nenhum documento válido existir\nif (documentosValidos.length === 0) {\n  return [\n    {\n      json: {\n        documentos_encontrados: 0,\n        rag_context: \"Nenhum documento relevante foi encontrado na base de conhecimento.\"\n      }\n    }\n  ];\n}\n\n// Monta o contexto\nconst rag_context = documentosValidos\n  .map((item, index) => {\n    const title = item.json.titulo ?? \"Sem título\";\n    const content = item.json.conteudo ?? \"Sem conteúdo disponível\";\n    const category = item.json.categoria ?? \"Não informada\";\n\n    const similarity =\n      typeof item.json.similaridade === \"number\"\n        ? (item.json.similaridade * 100).toFixed(1)\n        : \"N/A\";\n\n    return `📌 DOCUMENTO ${index + 1}\nTítulo: ${title}\nCategoria: ${category}\nSimilaridade: ${similarity}%\n\n${content}`;\n  })\n  .join('\\n\\n-----------------------------\\n\\n');\n\nreturn [\n  {\n    json: {\n      documentos_encontrados: documentosValidos.length,\n      rag_context\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11584,
        1328
      ],
      "id": "117380b0-5dcd-4bed-846c-5d0b5e7e6702",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Você é a Estela, assistente virtual completa do consultório odontológico da ABO-BA (Associação Brasileira de Odontologia - Seção Bahia). Você é educada, profissional, acolhedora e eficiente. Responda sempre em português brasileiro.\n\n══════════════════════════════════════\n🏥 INFORMAÇÕES DO CONSULTÓRIO\n══════════════════════════════════════\n- Nome: ABO-BA - Associação Brasileira de Odontologia - Seção Bahia\n- Endereço: Rua Altino Serbeto de Barros, 138 - Pituba, Salvador - BA, CEP 41830-492\n- Telefone: (71) 2203-4067 | WhatsApp: (71) 98132-8046\n- Email: contato@abo-ba.org.br\n- CNPJ: 15.187.719/0001-50\n- Horário: Seg-Sex 08:00-18:00 | Sáb 08:00-12:00 | Dom/Feriados: Fechado\n\n══════════════════════════════════════\n🛠️ FERRAMENTAS DISPONÍVEIS\n══════════════════════════════════════\nVocê tem acesso a ferramentas para gerenciar o consultório:\n\n1. **Buscar Paciente** - Busca dados do paciente pelo telefone\n   → Use quando precisar identificar o paciente ou ver seu histórico\n   → Parâmetros: { patient_phone: 'telefone' }\n\n2. **Buscar Horários Disponíveis** - Lista horários livres de dentistas\n   → Use quando o paciente quiser agendar e precisar ver disponibilidade\n   → Parâmetros: { date: 'YYYY-MM-DD', dentist_id: numero_opcional, specialty: 'especialidade_opcional' }\n\n3. **Agendar Consulta** - Cria um novo agendamento\n   → Use SOMENTE após confirmar todos os dados com o paciente\n   → Parâmetros: { patient_phone: 'tel', patient_name: 'nome', dentist_id: numero, procedure_id: numero_opcional, date: 'YYYY-MM-DD', time: 'HH:MM', notes: 'obs_opcional' }\n\n4. **Cancelar Consulta** - Cancela um agendamento existente\n   → Parâmetros: { appointment_id: numero, patient_phone: 'tel', reason: 'motivo_opcional' }\n\n5. **Consultar Agendamentos** - Lista agendamentos futuros do paciente\n   → Parâmetros: { patient_phone: 'tel' }\n\n6. **Listar Dentistas/Procedimentos** - Mostra profissionais ou procedimentos\n   → Parâmetros: { type: 'dentistas' ou 'procedimentos', specialty: 'opcional', category: 'opcional' }\n\n7. **Resumo Financeiro** - Extrato financeiro do paciente\n   → Parâmetros: { patient_phone: 'tel' }\n\n8. **Reiniciar Conversa** - Limpa todo o histórico e contexto da conversa\n   → Use quando o paciente pedir para reiniciar, limpar ou começar uma nova conversa\n   → Parâmetros: { patient_phone: 'telefone' }\n\n9. **Listar Especialidades** - Lista todas as especialidades disponíveis no consultório\n   → Use para descobrir quais especialidades e dentistas atendem um procedimento\n   → Não requer parâmetros\n\n══════════════════════════════════════\n📋 FLUXO DE AGENDAMENTO\n══════════════════════════════════════\nSiga este fluxo ao agendar consultas:\n1. Identifique o paciente (use a ferramenta Buscar Paciente com o telefone do WhatsApp)\n2. Use Listar Especialidades para identificar qual especialidade/dentista atende o procedimento desejado\n3. Pergunte a data de preferência\n4. Use Buscar Horários Disponíveis com a especialidade correta para mostrar opções\n5. Confirme TODOS os dados: nome, data, horário, dentista, procedimento\n6. Só então use Agendar Consulta\n7. Informe o ID do agendamento para futuras referências\n\n══════════════════════════════════════\n🦷 ESPECIALIDADES DISPONÍVEIS\n══════════════════════════════════════\n- Clínica Geral (avaliação, restaurações, limpeza)\n- Endodontia (tratamento de canal)\n- Periodontia (gengivas)\n- Cirurgia Oral (extrações, implantes)\n- Prótese Dentária (coroas, pontes, dentaduras)\n- Ortodontia (aparelhos)\n- Implantodontia\n- Odontopediatria (crianças)\n- Estética Dental (clareamento, facetas)\n- Estomatologia\n\n══════════════════════════════════════\n💰 FORMAS DE PAGAMENTO\n══════════════════════════════════════\n- PIX | Cartão de Crédito (até 12x) | Cartão de Débito | Dinheiro | Boleto\n- Convênios odontológicos aceitos (verificar disponibilidade)\n\n══════════════════════════════════════\n🚨 PROTOCOLOS ESPECIAIS\n══════════════════════════════════════\n\n**URGÊNCIA/EMERGÊNCIA:**\nSe o paciente relatar dor intensa, trauma dental, sangramento ou inchaço:\n→ Oriente cuidados imediatos básicos\n→ Direcione para contato urgente: (71) 2203-4067\n→ Tente encaixar na agenda do dia\n\n**ESCALAÇÃO PARA HUMANO:**\nDirecione para atendente humano quando:\n→ Paciente insistir em falar com pessoa\n→ Reclamações ou insatisfação\n→ Questões financeiras complexas (negociação de dívida)\n→ Assuntos que você não consiga resolver\n→ Emergências médicas\n\n**CONFIRMAÇÃO DE CONSULTA:**\nSe paciente responder 'SIM' ou confirmar presença:\n→ Agradeça e confirme os dados do agendamento\nSe responder 'NÃO' ou quiser cancelar:\n→ Pergunte se deseja reagendar\n→ Se sim, ofereça novos horários\n→ Se não, cancele com a ferramenta\n\n══════════════════════════════════════\n📝 REGRAS DE RESPOSTA\n══════════════════════════════════════\n1. Respostas breves e diretas para WhatsApp (máximo 4-5 linhas por mensagem)\n2. Use emojis com moderação para melhorar legibilidade\n3. Sempre confirme dados antes de executar ações (agendar, cancelar)\n4. NUNCA invente informações médicas - quando não souber, direcione ao dentista\n5. Mantenha sigilo sobre dados de outros pacientes\n6. Se não encontrar o paciente no sistema, trate como novo paciente\n7. Inclua informações de contato quando apropriado\n8. Se a pergunta estiver fora do escopo odontológico, direcione educadamente\n9. Use as ferramentas proativamente - quando um paciente perguntar sobre consulta, já busque o cadastro dele\n10. Não seja repetitiva (por exemplo, vc não precisa ficar se apresentando em toda mensagem)\n11. Mensagens de áudio são automaticamente transcritas para texto. Se o tipo da mensagem for audioMessage, você pode mencionar brevemente que entendeu o áudio do paciente.\n12. O telefone do paciente no WhatsApp é: {{ $('Validar Dados da Mensagem').first().json.sender_phone }}\n\nCONTEXTO DA BASE DE CONHECIMENTO:\n{{ $json.rag_context }}\n\nMENSAGEM DO USUÁRIO:\nPerfil WhatsApp: {{ $('Validar Dados da Mensagem').first().json.sender_name }}\nTelefone WhatsApp: {{ $('Validar Dados da Mensagem').first().json.sender_phone }}\nTipo de mensagem: {{ $('Validar Dados da Mensagem').first().json.message_type }}\nTexto enviado: {{ $('Validar Dados da Mensagem').first().json.message_text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        11872,
        1328
      ],
      "id": "551d0521-5089-4700-b6a0-3d9ba2c8f967",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "gpt-5.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        11712,
        1568
      ],
      "id": "db7214d8-8f67-4155-8a48-5a48e93a39a1",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "9G3P8b4cLbfFdbcm",
          "name": "NEIA OpenAi"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Validar Dados da Mensagem').first().json.sender_phone }}",
        "tableName": "abo.n8n_chat_histories",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        11856,
        1648
      ],
      "id": "d9cbb963-b73d-4647-8ab6-11a1b9f8ee0d",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        12096,
        1616
      ],
      "id": "0970cd72-cd32-4257-863c-c61db00c3ca3",
      "name": "Think"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        11968,
        1584
      ],
      "id": "e4ad5439-fb87-4176-9c78-fd4b7b602030",
      "name": "Date & Time"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        12208,
        1712
      ],
      "id": "17474200-7527-4568-af5d-ab1916c876f9",
      "name": "Calculator"
    },
    {
      "parameters": {
        "name": "buscar_paciente",
        "description": "Busca dados do paciente pelo número de telefone. Retorna nome, alergias, condições médicas, convênio, histórico de consultas e tratamentos ativos. Use quando precisar identificar o paciente ou ver informações dele.",
        "workflowId": {
          "__rl": true,
          "value": "={{'qP7AmtAMWSJq2NuowOxCi'}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_phone": "={{ $('Extrair Dados da Mensagem').first().json.sender_phone }}"
          },
          "matchingColumns": [
            "patient_phone"
          ],
          "schema": [
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        12336,
        1680
      ],
      "id": "f9ecf259-309d-486f-9b26-3df9c15a2a68",
      "name": "Buscar Paciente"
    },
    {
      "parameters": {
        "name": "buscar_horarios_disponiveis",
        "description": "Busca horários disponíveis de dentistas para uma data específica. Pode filtrar por dentista (dentist_id) ou especialidade.",
        "workflowId": {
          "__rl": true,
          "value": "={{'UgkezWSTlblPiMvGEjhRJ'}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $fromAI('date', 'Data no formato YYYY-MM-DD', 'string') }}",
            "dentist_id": "={{ $fromAI('dentist_id', 'ID do dentista (opcional)', 'number') }}",
            "specialty": "={{ $fromAI('specialty', 'Especialidade do dentista, ex: endodontia, ortodontia (opcional)', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "dentist_id",
              "displayName": "dentist_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "specialty",
              "displayName": "specialty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        12432,
        1584
      ],
      "id": "26f5dd92-d289-487f-8f94-c1314b432715",
      "name": "Buscar Horários"
    },
    {
      "parameters": {
        "name": "agendar_consulta",
        "description": "Cria um novo agendamento de consulta odontológica. IMPORTANTE: só use após confirmar TODOS os dados com o paciente.",
        "workflowId": {
          "__rl": true,
          "value": "={{'6z60DDRnhv_0k90bvvEAY'}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_phone": "={{ $('Extrair Dados da Mensagem').first().json.sender_phone }}",
            "patient_name": "={{ $fromAI('patient_name', 'Nome completo do paciente', 'string') }}",
            "dentist_id": "={{ $fromAI('dentist_id', 'ID do dentista', 'number') }}",
            "procedure_id": "={{ $fromAI('procedure_id', 'ID do procedimento (opcional)', 'number') }}",
            "date": "={{ $fromAI('date', 'Data da consulta no formato YYYY-MM-DD', 'string') }}",
            "time": "={{ $fromAI('time', 'Horário da consulta no formato HH:MM', 'string') }}",
            "notes": "={{ $fromAI('notes', 'Observações opcionais sobre a consulta', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "patient_name",
              "displayName": "patient_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "dentist_id",
              "displayName": "dentist_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "procedure_id",
              "displayName": "procedure_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        12544,
        1664
      ],
      "id": "6fc0528e-00e5-4be1-afba-04e66f39c9d2",
      "name": "Agendar Consulta"
    },
    {
      "parameters": {
        "name": "cancelar_consulta",
        "description": "Cancela um agendamento existente. Precisa do ID do agendamento e do telefone do paciente para validação.",
        "workflowId": {
          "__rl": true,
          "value": "={{'BW61kcoin51HUb3gD_-p2'}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "appointment_id": "={{ $fromAI('appointment_id', 'ID do agendamento a ser cancelado', 'number') }}",
            "patient_phone": "={{ $('Extrair Dados da Mensagem').first().json.sender_phone }}",
            "reason": "={{ $fromAI('reason', 'Motivo do cancelamento (opcional)', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "appointment_id",
              "displayName": "appointment_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "reason",
              "displayName": "reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        12656,
        1584
      ],
      "id": "b43f1b5d-823d-4c3b-9d3a-1b7e3a8f8230",
      "name": "Cancelar Consulta"
    },
    {
      "parameters": {
        "name": "consultar_agendamentos",
        "description": "Lista os próximos agendamentos futuros de um paciente. Retorna data, horário, dentista, procedimento e status.",
        "workflowId": {
          "__rl": true,
          "value": "={{'98P80bb9GyKUueDO6CTu1'}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_phone": "={{ $fromAI('patient_phone', 'Telefone do paciente', 'string') }}",
            "status": "={{ $fromAI('status', 'Filtrar por status: agendado, confirmado, concluido (opcional)', 'string') }}"
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        12768,
        1664
      ],
      "id": "c689e046-5660-4d64-941d-cb436a1a590a",
      "name": "Consultar Agendamentos"
    },
    {
      "parameters": {
        "name": "listar_dentistas_procedimentos",
        "description": "Lista dentistas disponíveis ou procedimentos odontológicos oferecidos. Para dentistas, retorna nome, CRO e especialidades. Para procedimentos, retorna nome, categoria, duração e preço.",
        "workflowId": {
          "__rl": true,
          "value": "={{'Avz5jBevAoikbkoDADkRY'}}",
          "mode": "id",
          "cachedResultUrl": "/workflow/=%7B%7B'Avz5jBevAoikbkoDADkRY'%7D%7D"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "type": "={{ $fromAI('type', 'Tipo de listagem: dentistas ou procedimentos', 'string') }}",
            "specialty": "={{ $fromAI('specialty', 'Filtro de especialidade (opcional)', 'string') }}",
            "category": "={{ $fromAI('category', 'Filtro de categoria: preventivo, restaurador, cirurgico, endodontia, ortodontia, estetica, protese, implantodontia (opcional)', 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "specialty",
              "displayName": "specialty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        12880,
        1584
      ],
      "id": "7b854558-d16e-4ca1-bd65-1fbaf7cd6f86",
      "name": "Listar Dentistas/Procedimentos"
    },
    {
      "parameters": {
        "name": "resumo_financeiro",
        "description": "Retorna o resumo financeiro do paciente: total cobrado, pago, pendente, atrasado e próximos vencimentos.",
        "workflowId": {
          "__rl": true,
          "value": "={{'gQaJfKayq-yF1nyHn9IfF'}}",
          "mode": "id",
          "cachedResultUrl": "/workflow/=%7B%7B'gQaJfKayq-yF1nyHn9IfF'%7D%7D"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_phone": "={{ $('Extrair Dados da Mensagem').first().json.sender_phone }}"
          },
          "matchingColumns": [
            "patient_phone"
          ],
          "schema": [
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        12992,
        1664
      ],
      "id": "cefb0588-c61f-4999-8428-96474bc4af65",
      "name": "Resumo Financeiro"
    },
    {
      "parameters": {
        "name": "reiniciar_conversa",
        "description": "Reinicia a conversa do paciente, limpando todo o histórico e contexto anterior. Use quando o paciente pedir para reiniciar, limpar ou começar uma nova conversa.",
        "workflowId": {
          "__rl": true,
          "value": "={{'lx9-IOQgHW7cEn_EyV-nO'}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "patient_phone": "={{ $('Extrair Dados da Mensagem').first().json.sender_phone }}"
          },
          "matchingColumns": [
            "patient_phone"
          ],
          "schema": [
            {
              "id": "patient_phone",
              "displayName": "patient_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        13104,
        1600
      ],
      "id": "19dc92d6-ac64-4513-9030-1315e7a9e006",
      "name": "Reiniciar Conversa"
    },
    {
      "parameters": {
        "name": "listar_especialidades",
        "description": "Lista todas as especialidades odontológicas disponíveis no consultório, com os dentistas que atendem cada uma. Use antes de buscar horários quando o paciente não especificar um dentista, para identificar qual especialidade e profissional atendem o procedimento desejado.",
        "workflowId": {
          "__rl": true,
          "value": "={{'ePnjcX1Ge05MmNEzk1c6F'}}",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        13216,
        1664
      ],
      "id": "d4e5f6a7-b8c9-0123-def0-456789abcdef",
      "name": "Listar Especialidades"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "reset-condition",
              "leftValue": "={{ $json.is_reset_command }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        10624,
        1312
      ],
      "id": "aff0708f-a4cb-4afa-a3c8-9a3244bcda37",
      "name": "É comando reiniciar?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM abo.reiniciar_conversa($1::varchar);",
        "options": {
          "queryReplacement": "={{ $('Validar Dados da Mensagem').first().json.sender_phone }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        10928,
        1056
      ],
      "id": "0c39f552-db17-44e0-9818-27f256fafa33",
      "name": "Executar Reset",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const result = $input.first().json;\nconst senderName = $('Validar Dados da Mensagem').first().json.sender_name;\n\nconst output = `✨ Conversa reiniciada com sucesso!\n\nOlá, ${senderName}! Seu histórico de conversa foi limpo e estou pronta para um novo atendimento.\nComo posso ajudar você hoje? 😊`;\n\nreturn [{ json: { output } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        11152,
        1056
      ],
      "id": "014a5c2a-fd70-495e-a81d-084229829230",
      "name": "Mensagem de Reset"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "abo",
          "mode": "list",
          "cachedResultName": "abo"
        },
        "table": {
          "__rl": true,
          "value": "conversas",
          "mode": "list",
          "cachedResultName": "conversas"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefone": "={{ $('Validar Dados da Mensagem').first().json.sender_phone }}",
            "nome": "={{ $('Validar Dados da Mensagem').first().json.sender_name }}",
            "mensagem": "={{ $('Validar Dados da Mensagem').first().json.message_text }}",
            "resposta_ia": "={{ $('AI Agent').first().json.output }}",
            "contexto_rag": "={{ $('Code in JavaScript').first().json }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensagem",
              "displayName": "mensagem",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resposta_ia",
              "displayName": "resposta_ia",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contexto_rag",
              "displayName": "contexto_rag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_hora",
              "displayName": "data_hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "criado_em",
              "displayName": "criado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "atualizado_em",
              "displayName": "atualizado_em",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        12272,
        1168
      ],
      "id": "28502d81-45cd-4c35-a956-7a69d3d30d41",
      "name": "Salvar Conversa no BD",
      "credentials": {
        "postgres": {
          "id": "rtR0aIfgqJvl8ozT",
          "name": "Postgres supabase cloud"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "Bahia Tecnologia Ltda",
        "remoteJid": "={{ $('Validar Dados da Mensagem').first().json.sender_phone }}",
        "messageText": "={{ $json.item }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        13184,
        1344
      ],
      "id": "3799cc62-4a68-4f97-9e21-9e3407129437",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "JMQ37vVKU8xZgKjy",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Recebe o texto de entrada\nconst texto = $input.first().json.output;\n\n// Divide o texto apenas pela sequência de barra invertida dupla (\\n\\n)\nconst itens = texto.split(/\\n/);\n\n// Retorna cada item como um objeto separado, filtrando itens vazios\nreturn itens\n  .filter(item => item.trim() !== \"\")\n  .map(item => ({ item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        12480,
        1328
      ],
      "id": "2da9abc4-72e0-499a-ab09-b39378e7e506",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        12864,
        1328
      ],
      "id": "d37b085d-5f58-4090-b4aa-d0621b9b824f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "audio-condition",
              "leftValue": "={{ $json.message_type }}",
              "rightValue": "audioMessage",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        9104,
        1312
      ],
      "id": "ea53081f-3e4f-4c19-95d7-2d9f859797bd",
      "name": "É áudio?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook').first().json.body.server_url + '/chat/getBase64FromMediaMessage/' + encodeURIComponent($('Webhook').first().json.body.instance) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Webhook').first().json.body.apikey }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: { key: $('Webhook').first().json.body.data.key } }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        9344,
        912
      ],
      "id": "8e83a8e0-5ebb-42d0-8ea0-621e450bdb0e",
      "name": "Baixar Áudio"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nlet base64Data = response.base64;\nconst extractedData = $('Extrair Dados da Mensagem').first().json;\n\nif (!base64Data) {\n  throw new Error('Não foi possível baixar o áudio. O campo base64 está vazio.');\n}\n\n// Remove data URI prefix if present (e.g., 'data:audio/ogg;base64,...')\nif (base64Data.includes(',')) {\n  base64Data = base64Data.split(',')[1];\n}\n\nreturn [{\n  json: extractedData,\n  binary: {\n    audio: {\n      data: base64Data,\n      mimeType: response.mimetype || 'audio/ogg; codecs=opus',\n      fileName: 'audio.ogg'\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9584,
        912
      ],
      "id": "e5ad2f21-e89a-42ae-aed9-144cebc1804f",
      "name": "Preparar Áudio"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "audio"
            },
            {
              "name": "model",
              "value": "whisper-1"
            },
            {
              "name": "language",
              "value": "pt"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        9824,
        912
      ],
      "id": "afa3a74a-7989-4db4-9cb1-fac449a90168",
      "name": "Transcrever Áudio",
      "credentials": {
        "httpBearerAuth": {
          "id": "cGKI9g7OSPfCCooY",
          "name": "ABO OpenAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const transcription = $input.first().json.text;\nconst extractedData = $('Extrair Dados da Mensagem').first().json;\n\nreturn [{\n  json: {\n    ...extractedData,\n    message_text: (transcription && transcription.trim())\n      ? transcription.trim()\n      : '[Áudio recebido mas não foi possível transcrever. Por favor, envie em texto.]'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        10064,
        912
      ],
      "id": "03bb1b04-781b-47de-8d58-d5091f6b6f14",
      "name": "Definir Texto Transcrito"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.bahiati.cloud",
            "user-agent": "axios/1.13.2",
            "content-length": "1480",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "n8n.bahiati.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "0559ca9a5ebb",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "messages.upsert",
            "instance": "Bahia Tecnologia Ltda",
            "data": {
              "key": {
                "remoteJid": "553496620569@s.whatsapp.net",
                "remoteJidAlt": "553496620569@s.whatsapp.net",
                "fromMe": false,
                "id": "3BF14C88F54D8D216F43",
                "participant": "",
                "addressingMode": "lid"
              },
              "pushName": "Dalí Freire",
              "status": "DELIVERY_ACK",
              "message": {
                "conversation": "quero agendar uma consulta",
                "messageContextInfo": {
                  "threadId": [],
                  "deviceListMetadata": {
                    "senderKeyIndexes": [],
                    "recipientKeyIndexes": [],
                    "senderKeyHash": {
                      "0": 207,
                      "1": 107,
                      "2": 167,
                      "3": 106,
                      "4": 126,
                      "5": 144,
                      "6": 242,
                      "7": 113,
                      "8": 148,
                      "9": 250
                    },
                    "senderTimestamp": {
                      "low": 1770116076,
                      "high": 0,
                      "unsigned": true
                    },
                    "recipientKeyHash": {
                      "0": 224,
                      "1": 133,
                      "2": 166,
                      "3": 87,
                      "4": 96,
                      "5": 159,
                      "6": 24,
                      "7": 39,
                      "8": 17,
                      "9": 139
                    },
                    "recipientTimestamp": {
                      "low": 1770582804,
                      "high": 0,
                      "unsigned": true
                    }
                  },
                  "deviceListMetadataVersion": 2,
                  "messageSecret": {
                    "0": 24,
                    "1": 68,
                    "2": 105,
                    "3": 98,
                    "4": 193,
                    "5": 37,
                    "6": 29,
                    "7": 81,
                    "8": 40,
                    "9": 19,
                    "10": 195,
                    "11": 208,
                    "12": 238,
                    "13": 135,
                    "14": 1,
                    "15": 121,
                    "16": 128,
                    "17": 226,
                    "18": 76,
                    "19": 62,
                    "20": 186,
                    "21": 28,
                    "22": 159,
                    "23": 46,
                    "24": 153,
                    "25": 78,
                    "26": 209,
                    "27": 171,
                    "28": 231,
                    "29": 82,
                    "30": 96,
                    "31": 12
                  }
                }
              },
              "messageType": "conversation",
              "messageTimestamp": 1772630641,
              "instanceId": "c9aff788-608b-4cea-801e-d3dcd53676af",
              "source": "unknown"
            },
            "destination": "https://n8n.bahiati.cloud/webhook/66c1e19b-70ba-4ece-8a9c-c6ad6819a091",
            "date_time": "2026-03-04T10:24:01.605Z",
            "sender": "557183803720@s.whatsapp.net",
            "server_url": "https://evolution.bahiati.cloud",
            "apikey": "8994AF317C9A-4406-81A3-AA973BF65EA2"
          },
          "webhookUrl": "https://n8n.bahiati.cloud/webhook/66c1e19b-70ba-4ece-8a9c-c6ad6819a091",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extrair Dados da Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Dados da Mensagem": {
      "main": [
        [
          {
            "node": "É áudio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Dados da Mensagem": {
      "main": [
        [
          {
            "node": "É comando reiniciar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É comando reiniciar?": {
      "main": [
        [
          {
            "node": "Executar Reset",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gerar Embedding da Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Executar Reset": {
      "main": [
        [
          {
            "node": "Mensagem de Reset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mensagem de Reset": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar Embedding da Mensagem": {
      "main": [
        [
          {
            "node": "Extrair Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extrair Embedding": {
      "main": [
        [
          {
            "node": "RAG - Busca Conhecimento ABO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG - Busca Conhecimento ABO": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Paciente": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Horários": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agendar Consulta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cancelar Consulta": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Agendamentos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Listar Dentistas/Procedimentos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Resumo Financeiro": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Reiniciar Conversa": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Listar Especialidades": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Salvar Conversa no BD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É áudio?": {
      "main": [
        [
          {
            "node": "Baixar Áudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validar Dados da Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar Áudio": {
      "main": [
        [
          {
            "node": "Preparar Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Áudio": {
      "main": [
        [
          {
            "node": "Transcrever Áudio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcrever Áudio": {
      "main": [
        [
          {
            "node": "Definir Texto Transcrito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Definir Texto Transcrito": {
      "main": [
        [
          {
            "node": "Validar Dados da Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "29b99cb6-3cf0-480e-884d-3739fb23e24f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d07a57d7c2add559a13f166055a90b89bb4e767a13639a3a9399707bf04755c3"
  },
  "id": "68VqxzJuQsLXKbXPS4aZq",
  "tags": []
}